<header>
    <div class="main_wrapper">
        <div class="main_header">
            <div class="title">dashboard</div>
            <div class="filter">
                <select name="domains" required>
                    <option value="0" selected>shared domains</option>
                    <option value="1">domains</option>
                    <option value="2">shared hosting</option>
                </select>
                <label for="domains">filter:</label>
            </div>
            <button>+</button>
        </div>
    </div>
</header>