<main>
    <div class="main_wrapper">
        <div class="about">
            <div class="about_header">
                <div class="logo">
                    <a href="https://cosmos.studio/" title="https://cosmos.studio/">
                        <img alt="logo" src="images/logo/logo.png" width="25px">
                    </a>
                </div>
                <div class="link">
                    <a href="https://kparser.com" title="https://kparser.com">https://kparser.com</a>
                </div>
                <div>
                    <button data-name='share'></button>
                </div>
                <div>
                    <button data-name='settings'></button>
                </div>
                <div>
                    <button data-name='delete'></button>
                </div>
            </div>
            <div class="card_holder">
                <div class="card"></div>
            </div>
        </div>
    </div>
</main>